/* 冰凌代工 */

body{
    /*背景样式*/
    font-family: Arial;
    margin: 0;
    background-color: #f1f1f1;
}

.top{
    /*顶部*/
    margin: 18px;
    padding: 10px;
    border-radius: 10px;
    background: #f1f1f1;
    box-shadow:  9px 9px 18px #b7b7b7, -9px -9px 18px #ffffff;
}

.content{
    /*内容区块*/
    margin: 18px;
    padding: 10px;
    border-radius: 10px;
    background: #f1f1f1;
    box-shadow:  9px 9px 18px #b7b7b7, -9px -9px 18px #ffffff;
}


h1{
    /*一级菜单样式*/
    font-size: 22px;
    text-align: center;
}
